*{
  margin: 0;
  padding: 0;
}

nav ul{
  display: flex;
  background-color: black;
  gap: 24px;
}

li{
  list-style: none;
  padding: 20px;
}

a li {
  color: white;
}

.red{
  background-color: red;
  color: white;
}